<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD Picture Server</title>
    <link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />



    <link href="/css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="/css/grids-core.css" rel="stylesheet" type="text/css" />
    <link href="/css/grids-units.css" rel="stylesheet" type="text/css" />
    <link href="/css/grids-r.css" rel="stylesheet" type="text/css" />

    <link href="/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="/css/tables.css" rel="stylesheet" type="text/css" />
    <link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />


    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>
    <script type='text/javascript' src='js/lib/meowmeow.js' ></script>
    <script>
      $(document).ready( function() { meowmeow(); });
    </script>


  </head>


  <body>
    <div id="container">
    <div id="header">

      <div class='top_right'>
        <!--USERINDICATOR-->
      </div>


      <a href='/'>
        <img src='img/kitty_head_black_outline_p32.png' 
             style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      </a>

      <h1>&nbsp; <a href='/'>meowCAD</a> / About</h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <!--LEFT-->

    <div id='main'>

      <div id='maincontent'>

        <!--MESSAGE-->

        <h2>About</h2>

        <br />
        <br />

        MeowCAD is an online electronics design application.  With it, you'll be able to design schematics like this:

        <br />
        <br />

        <img src='img/schExample.png' style='width:500px;'></img>

        <br />
        <br />

        and board layouts like this:

        <br />
        <br />

        <img src='img/brdExample.png' style='width:500px;'></img>

        <br />
        <br />

        You can also share your designs or browse designs other people.  
        You can import and export your designs into and out of meowCAD to use in other EDA packages.

        <br />
        <br />

        All our code is free and open and can be found here:

        <br />
        <br />

              <a href='https://github.com/abetusk/bleepsix'>bleepsix</a>

        <br />

              <a href='https://github.com/abetusk/www.meowcad.com'>website</a>

        <br />
        <br />

        If you have any comments, suggestions
        or anything else that might be on your mind, 
        please give us some <a href='feedback'>feedback</a>!

        <br />



      </div>

    </div>

    <div id="footer"><div class="spacer"></div>
      <hr />
      <p class="left">| <a href="http://jigsaw.w3.org/css-validator/">CSS</a> |
      <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> </p>
    </div> <!-- end footer -->


  </div>

  </body>
</html>



