<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>meowCAD / Feedback </title>

<link rel="shortcut icon" href="/simpleoutline.ico" />
<link rel="icon" href="/simpleoutline.ico" />


<link href="css/buttons.css" rel="stylesheet" type="text/css" />


<link href="css/forms.css" rel="stylesheet" type="text/css" />
<link href="css/tables.css" rel="stylesheet" type="text/css" />
<link href="css/cleanlooks.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>
    <script type='text/javascript' src='js/lib/meowmeow.js' ></script>
    <script>
      $(document).ready( function() { meowmeow(); });
    </script>


</head>



<body>
<div id="container">
  <div id="header">

    <div class='top_right'>
      <!--USERINDICATOR-->
    </div>


    <a href='/'>
      <img src='img/kitty_head_black_outline_p32.png' 
           style='width:32px; height:32px; opacity:0.5; float:left; '></img>
    </a>

    <h1> &nbsp; <a href='/'>meowCAD</a> / <a href='feedback'>Feedback</a></h1>
      <br />
      <hr />

  </div> <!-- end header -->


  <!--LEFT-->
  <!--
    <div id='left'>
      <div id='leftcontent'>

        <ul>

          <p>&nbsp;</p>

          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>


          <p>&nbsp;</p>

          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>

          <li> <a href='about'>About</a> </li>
          <p>&nbsp;</p>
          <li> <a href='feedback'>Feedback</a> </li>
          <p>&nbsp;</p>
          <li> <a href='https://github.com/abetusk/www.meowcad.com'>github</a> </li>
        </u>

      </div>
    </div>
    -->


  <div id="main">
    <div id="maincontent">

      <!--MESSAGE-->

        <br>
        <br>
        <br>


        <!-- <form class='pure-form pure-form-aligned'> -->
        <form class='pure-form' action='sendfeedback' method='POST' >

          <fieldset>
            <legend>Feedback</legend>
            <textarea name='feedback' rows='20' cols='90'></textarea>
          </fieldset>
          <fieldset>
            <label for='email'>Email (optional)</label>
            <input id='email' name='email' type='email' placeholder='Email Address'></input>
          </fieldset>

          <fieldset>
            <div class='pure-control-group'>
              <button id='createButton' class='pure-button pure-button-tiel'>Send</button>
            </div>
          </fieldset>


        <form>


      <br />

   
      <br />

    </div> <!-- end main content section -->
  </div> 


  <div id="footer"><div class="spacer"></div>
    <hr />
    <p class="left">| <a href="http://jigsaw.w3.org/css-validator/">CSS</a> | 
    <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> </p>
  </div> <!-- end footer -->

</div> <!-- end container -->


<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://meowcad.com/analytics/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->

</body>
</html>
