<!-- must be in container -->

<hr>
<div class='fluid-container' style='margin-bottom:15px;' >

  <div class='row'>

    <div class='col-xs-4'> 
      <a href='https://github.com/abetusk/www.meowcad.com' style='color:#aaaaaa; font-size:0.9em;' >Source</a>
      &nbsp;
      &nbsp;
        
      <a href='/feedback' style='color:#aaaaaa; font-size:0.9em;' >Feedback</a>
    </div>

    <div style='text-align:center;' class='col-xs-4'> 
      <a href='/' style='opacity:0.5; ' > <img src='/img/kitty_head_black_outline_p32.png' height='15px' width='15px'></img> </a>
    </div>

    <div style='text-align:right;' class='col-xs-4'> 
      <a href='/about' style='color:#aaaaaa; font-size:0.9em;' >About</a>
    </div>
  </div>

</div>


