<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD Picture Server</title>

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />

    <script type='text/javascript' src='/socket.io/socket.io.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>

    <link href="css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-core.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-units.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-r.css" rel="stylesheet" type="text/css" />

    <link href="css/forms.css" rel="stylesheet" type="text/css" />
    <link href="css/tables.css" rel="stylesheet" type="text/css" />
    <link href="css/cleanlooks.css" rel="stylesheet" type="text/css" />


    <script>
    </script>


  </head>


  <body>
    <div id="container">
    <div id="header">

      <div class='top_right'>
        <!--USERINDICATOR-->
      </div>


      <a href='/'>
        <img src='img/kitty_head_black_outline_p32.png' 
             style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      </a>

      <h1>&nbsp <a href='/'>meowCAD</a> </h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <!--LEFT-->

    <div id='main'>

      <div id='maincontent'>

        <!--MESSAGE-->

        <div class='pure-g'>
          <div class='pure-u-1-2'>
            <!-- <a href='bleepsix_sch.html'> -->
            <a href='sch'>
              <img src='img/schImgLink' height='256px' width='256px' ></img>
            </a>
          </div>
          <div class='pure-u-1-2'>
            <!-- <a href='bleepsix_pcb.html'> -->
            <a href='brd'>
              <img src='img/brdImgLink' height='256px' width='256px' ></img>
            </a>
          </div>
        </div>

        <div class='pure-g'>
          <div class='pure-u-1-2'>
            WARNING: experimental
          </div>
          <div class='pure-u-1-2'>
            WARNING: experimental
          </div>
        </div>


      </div>

    </div>

    <div id="footer"><div class="spacer"></div>
      <hr />
      <p class="left">| <a href="http://jigsaw.w3.org/css-validator/">CSS</a> |
      <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> </p>
    </div> <!-- end footer -->


  </body>
</html>



