<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD Picture Server</title>
    <link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />

    <script type='text/javascript' src='/socket.io/socket.io.js' ></script>
    <script type='text/javascript' src='/bleepsix/js/jquery.js' ></script>
    <script type='text/javascript' src='/bleepsix/js/jquery.cookie.js' ></script>

    <link href="/css/buttons.css" rel="stylesheet" type="text/css" />

    <link href="/css/forms.css" rel="stylesheet" type="text/css" />
    <link href="/css/tables.css" rel="stylesheet" type="text/css" />
    <link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />


    <script>

      g_url = "https://localhost";

      $(document).ready( function() {
        console.log("hello");

      });


      function successMessage( text )
      {
        //msg = document.getElementById("message");
        //msg.className = "success-message";
        //msg.innerHTML = text;
      }

      function errorMessage( text )
      {
        msg = document.getElementById("message");
        msg.className = "error-message";
        msg.innerHTML = text;

      }

      function tryLogin()
      {
        console.log("tryLogin");

        var username = document.getElementById("username");
        var password = document.getElementById("password");

        var uname = username.value;
        var pword = password.value;

        if (uname.length == 0)
        {
          errorMessage("Please provide Username");
          username.focus();
          return;
        }

        if (pword.length == 0)
        {
          errorMessage("Please provide Password");
          password.focus();
          return;
        }

        if (typeof io !== 'undefined')
        {
          var socket = io.connect( g_url );

          socket.on("disconnect", function() { console.log("disconnected"); });
          socket.on("connect_failed", function() { console.log("connect_failed"); });
          socket.on("reconnect_failed", function() { console.log("reconnect_failed"); });
          socket.on("error", function() { 
            console.log("error");
            errorMessage("Server error, please try again later!  Sorry for the inconvenience!");
          });

          socket.emit("auth", { username : username.value, password : password.value });
          socket.on("auth", function(dat) {
            console.log("auth response, got:");
            console.log(dat);

            if ( (dat.type != "response") || (dat.status != "success") )
            {
              errorMessage("Authentication failed");
              return;
            }
            else
            {
              successMessage("success!");


              /*
              $.cookie("userId", dat.userId , { expires:365, path:'/', secure: true} );
              $.cookie("sessionId", dat.sessionId, {expires:365, path:'/', secure:true} );
              $.cookie("userName" , uname , {expires:365, path:'/', secure:true} );
              */

              $.cookie("userId", dat.userId , { path:'/', secure: true} );
              $.cookie("sessionId", dat.sessionId, { path:'/', secure:true} );
              $.cookie("userName" , uname , { path:'/', secure:true} );

              console.log("cookie: " + $.cookie("sessionToken") );


              // redirect...
              //
              //window.location.href = g_url + "/bleepsix/pic.html?id=errpng2";
              window.location.href = g_url + "/bleepsix/cgi/portfolio";

              // I don't think we want to use this, but just in case...
              //window.location.replace( g_url + "/bleepsix/bleepsix_sch.html");

            }
          });

        }
        else {
          errorMessage("Server offline, please try again later!  Sorry for the inconvenience!");
          return;
        }

        //errorMessage("login not supported yet");

      }

    </script>


  </head>


  <body>
    <div id="container">
    <div id="header">

      <div class='top_right'>
        [Login]
          &nbsp; &nbsp;
          &nbsp; &nbsp;
        <a href='signup'>Signup</a>
      </div>


      <img src='../img/kitty_head_black_outline_p32.png' style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      <h1>&nbsp <a href='http://www.meowcad.com'>meowCAD</a> / Login </h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <div id='main'>

      <div id='left'>

        <div id='leftcontent'>
        </div>

      </div>


      <div id='maincontent'>

        <!--MESSAGE-->

        <div class='pure-g'>

          <div class='pure-form pure-form-aligned'>
        <div id='message' class='no-message'>
          <!-- <img src='/bleepsix/img/background.png' height='23px' width='23px' ></img> -->
        </div>


            <fieldset>
              <div class='pure-control-group'>
                <label for='name'>Username</label>
                <input id='username' type='text' placeholder='Username' required>
              </div>

              <div class='pure-control-group'>
                <label for='password'>Password</label>
                <input id='password' type='password' placeholder='Password' required>
              </div>

              <div class='pure-controls'>
                <button id='dummy' class='pure-button pure-button-tiel' onclick='tryLogin();'>Login</button>
              </div>

            </fieldset>
          </div>

        </div>


      </div>

    </div>

  </body>
</html>



