<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>meowCad / Manage Project </title>
<link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />

<link rel="shortcut icon" href="/simpleoutline.ico" />
<link rel="icon" href="/simpleoutline.ico" />


<link href="/css/buttons.css" rel="stylesheet" type="text/css" />

<link href="/css/forms.css" rel="stylesheet" type="text/css" />
<link href="/css/tables.css" rel="stylesheet" type="text/css" />

</head>



<body>
<div id="container">
  <div id="header">

    <div class='top_right'>
      <!--USERINDICATOR-->
    </div>


    <img src='../img/kitty_head_black_outline_p32.png' style='width:32px; height:32px; float:left; '></img>
    <h1> &nbsp; <a href='portfolio'><!--USER--></a> / <a href='portfolio'>Portfolio</a> / <!--PROJECTNAME--> </h1>
      <br />
      <hr />

  </div> <!-- end header -->


  <!--LEFT-->



  <div id="main">
    <div id="maincontent">

      <!--HEADING--> 
      <!--MESSAGE-->

      <!-- <h3 class='top_main_heading'> </h3> -->



      <br />
      <br />
      <br />

      <!--PROJECTDETAILS-->

      <form class='pure-form' action='updateproject' method='POST'>


        <fieldset>
            <legend>Permissions</legend>

            <div class='pure-control-group'>

              <input type='hidden' name='projectId' id='projectId' value='<!--PROJECTID-->'></input>

              <label for='private' class='pure-radio'>
                <img src='/bleepsix/img/locked.png' width='20px'></img>

                <!--PRIVATERADIO-->
                <!-- <input id='private' type='radio' name='permissionOption' value='private' checked> </input> -->
                  Private (only viewable by you)
              </label>

              <label for='public' class='pure-radio'>
                <img src='/bleepsix/img/heart.png' width='20'></img>
                <!--PUBLICRADIO-->
                <!-- <input id='public' type='radio' name='permissionOption' value='public' > </input> -->
                  Public (viewable by everyone)
              </label>

            </div>
          </fieldset>

        <fieldset>
          <div class='pure-control-group'>
            <button id='updateButton' class='pure-button pure-button-tiel'>Update Project</button>
          </div>
        </fieldset>


      </form>

          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>

      <form class='pure-form' action='deleteproject' method='POST'>

          <fieldset style='float:right;' >
            <legend  >Danger Zone</legend>
            <input type='hidden' name='projectId' id='projectId' value='<!--PROJECTID-->'></input>
            <button id='deleteButton' style='float:right;' class='pure-button pure-button-red'>Delete Project</button>
          </fieldset>

      </form>



    </div> <!-- end main content section -->
  </div> 


  <div id="footer"><div class="spacer"></div>
    <hr />
    <p class="left">| <a href="http://jigsaw.w3.org/css-validator/">CSS</a> | 
    <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> </p>
  </div> <!-- end footer -->

</div> <!-- end container -->

</body>
</html>
