
<!-- inside container means it has some margin at the sides, outside means it spans -->



        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                  <img style='opacity:0.5;' src='/img/kitty_head_white_outline_p32.png' height='16px' width='16px' >
                  </img>
                </a>
            </div>

            <div class="navbar-collapse collapse navbar-inverse-collapse">


              <!--NAVBAR_USER_DISPLAY-->

                <form class="navbar-form navbar-left" action='/search' >
                  <div class='input-group'>
                    <input type="text" class="form-control col-lg-8" style='width:auto;' placeholder="Search">
                    <span class='input-group-btn' style='width:auto;' >

                      <button class='btn btn-default' type='submit'><img src='/img/search_p64.png' style='height:16px;' >
                        </img>
                      </button> 

                    </span>
                  </div>
                </form>

                <ul class="nav navbar-nav">
                    <li><a href="/explore">Explore</a></li>
                </ul>

                <ul class="nav navbar-nav">
                    <li><a href="/blog">Blog</a></li>
                </ul>


                <!--NAVBAR_USER_CONTEXT-->

            </div>
        </div>

