
              <div class='alert alert-info' style='margin:10px 10px;' >
                <p style='text-align:center; margin-left:10px; margin-right:10px;' >
                Import your component and module libraries here.  Note that this is a portfolio wide import.
                You can can override the components and modules available here by uploading components and
                modules specific to your project in it's own 'import' section.
                </p>
              </div>

              <div class='panel panel-default' style='margin:10px 10px;' >
                <div class='panel-heading'>
                  Upload File Import
                </div>

                <div class='panel-body'>

                  <div class='form-group'>
                    <label for='uploadFile'>Upload Components and/or Modules</label>

                    <div id='eventsmessage'></div>

                    <div id='multipleupload'>Upload your files</div>

                    <p class='help-block'>Select individual uncompressed components or modules, or
                    bundles of components or modules compressed as a tar, zip, gz or bz2 file.
                    </p>
                  </div>

                </div>
              </div>


              <!-- disabled, we'll get to it later -->
              <!--

              <div class='panel panel-default' style='margin:10px 10px;' >
                <div class='panel-heading'>
                  Import from URL
                </div>

                <div class='panel-body'>

                  <form role='form' action='importurl' method='POST' >
                    <div class='form-group'>
                      <label for='linkGrab'>URL</label>
                      <input type='url' id='linkGrab'>
                      <p class='help-block'>Put the URL where the components and/or modules are located.
                      You can specify the location of a file or the location of a Git repository.
                      <br/>
                      e.g. https://github.com/open-project/kicadlibrary
                      </p>
                    </div>
                    <button type='submit' class='btn btn-primary'>Fetch</button>
                  </form>
                </div>
              </div>

              -->


