<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title> meowCad / Portfolio</title>

<link rel="shortcut icon" href="/simpleoutline.ico" />
<link rel="icon" href="/simpleoutline.ico" />

<link href="/css/buttons.css" rel="stylesheet" type="text/css" />

<link href="/css/forms.css" rel="stylesheet" type="text/css" />
<link href="/css/tables.css" rel="stylesheet" type="text/css" />
<link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" />

<script>
</script>
</head>



<body>
<div id="container">
  <div id="header">

      <div class='top_right'>
        <!--USERINDICATOR-->
      </div>


      <img src='../img/kitty_head_black_outline_p32.png' style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      <h1> &nbsp; <a href='portfolio'><!--USER--></a> / <a href='portfolio'>Portfolio</a> </h1>


    <br />
    <hr />


  </div> <!-- end header -->


  <!--LEFT-->


    <div id="main">
      <div id="maincontent">

        <!--MESSAGE-->
        <br />
        <br />

        <form action='/bleepsix/cgi/newproject.py'>

          <button id='buttonNewProject' 
            class='pure-button pure-button-tiel'>
            Create New Project
          </button>

        </form>

        <br />
        <br />

        <!--PROJECTS-->

        <br />

      </div> <!-- end main content section -->
    </div> 


  <div id="footer"><div class="spacer"></div>
    <hr />
    <p class="left">| <a href="http://jigsaw.w3.org/css-validator/">CSS</a> | 
    <a href="http://validator.w3.org/check?uri=referer">XHTML 1.1</a> </p>
  </div> <!-- end footer -->

</div> <!-- end container -->

</body>
</html>
