        <div class='panel panel-default'>

          <div class='panel-heading'>Clear Workspace</div>
            <div class='panel-body'>

              <p>
              You are logged in via an anonymous account.  
              To clear your work, click on the button below and your
              session information will be cleared.  
              </p>

              <p>
                <b>This will mean that your work will become unrecoverable.</b>
              </p>

              <p>
              We use cookies to store login information so that we 
              can recognize you when you come back.  You can clear
              this information by clicking on the button below.
              </p>

              <p>
              If you would like to save your work, consider registering with us
              instead!
              </p>

              <form class='form-horizontal' style='margin-left:10px; margin-right:10px;' action='/register' method='POST' >
                <div class='form-group' >
                  <input id='submit' value='Clear Workspace' class='btn btn-default' type='submit'></input>

                  <input id='type' value='clear' name='type' type='hidden'></input>
                </div>
              </form>



            </div>
          </div>

        </div>

