<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD</title>

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />

    <script type='text/javascript' src='/socket.io/socket.io.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>

    <link href="css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-core.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-units.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-r.css" rel="stylesheet" type="text/css" />

    <link href="css/forms.css" rel="stylesheet" type="text/css" />
    <link href="css/tables.css" rel="stylesheet" type="text/css" />
    <link href="css/cleanlooks.css" rel="stylesheet" type="text/css" />


    <script>
    </script>


  </head>


  <body>
    <div id="container">
    <div id="header">

      <div class='top_right'>
        <!--
        <a href='login'>[Login]</a>
        &nbsp; &nbsp;
        &nbsp; &nbsp;
        <a href='signup'>Signup</a>
        -->

        <!--USERINDICATOR-->

      </div>



       <a href='/'>
        <img src='img/kitty_head_black_outline_p32.png' 
             style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      </a>
      <h1>&nbsp <a href='/'>meowCAD</a> </h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <!--LEFT-->

    <div id='main'>

      <div id='maincontent'>

        <!--MESSAGE-->
        <!--RESPONSE-->
        <h3> ERROR </h3> 
        <p> 
        We're sorry!  There was an error processing your request.  Please send 
        us an email at info@meowcad.com or try again later! 
        </p>

      </div>

    </div>

  </body>
</html>



