<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD Picture Server</title>
    <!-- <link href="/css/cleanlooks.css" rel="stylesheet" type="text/css" /> -->

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />

    <script type='text/javascript' src='/socket.io/socket.io.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>

    <link href="css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-core.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-units.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-r.css" rel="stylesheet" type="text/css" />

    <link href="css/forms.css" rel="stylesheet" type="text/css" />
    <link href="css/tables.css" rel="stylesheet" type="text/css" />
    <link href="css/cleanlooks.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>
    <script type='text/javascript' src='js/lib/meowmeow.js' ></script>
    <script>
      $(document).ready( function() { meowmeow(); });
    </script>



  </head>


  <body>
    <div id="container">
    <div id="header">

      <!-- <img src='../img/kitty_head_black_outline_p32.png' style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      -->
      <img src='img/kitty_head_black_outline_p32.png' style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      <h1>&nbsp <a href='/'>meowCAD</a> </h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <div id='main'>

      <div id='maincontent'>

        <!--MESSAGE-->
        <!--RESPONSE-->

        <!--
        <h3> Email address received </h3>
        <p>
          Thank you for your interest.  We will be sure to send you an email when
          the site will be available for general use.
        </p>
        -->

      </div>

    </div>

  </body>
</html>



