<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>MeowCAD Picture Server</title>

    <link rel="shortcut icon" href="/simpleoutline.ico" />
    <link rel="icon" href="/simpleoutline.ico" />

    <script type='text/javascript' src='/socket.io/socket.io.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.js' ></script>
    <script type='text/javascript' src='js/lib/jquery.cookie.js' ></script>

    <link href="css/buttons.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-core.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-units.css" rel="stylesheet" type="text/css" />
    <link href="css/grids-r.css" rel="stylesheet" type="text/css" />

    <link href="css/forms.css" rel="stylesheet" type="text/css" />
    <link href="css/tables.css" rel="stylesheet" type="text/css" />
    <link href="css/cleanlooks.css" rel="stylesheet" type="text/css" />


    <script>
    </script>


  </head>


  <body>
    <div id="container">
    <div id="header">

      <div class='top_right'>

        <!--USERINDICATOR-->

      </div>

      <a href='/'>
        <img src='img/kitty_head_black_outline_p32.png' 
             style='width:32px; height:32px; opacity:0.5; float:left; '></img>
      </a>

      <h1>&nbsp <a href='/'>meowCAD</a> / Signup </h1>
      <br />
      <hr />
    </div> <!-- end header -->

    <div id='main'>


      <div id='maincontent'>

        <!--MESSAGE-->
        <form class='pure-form' action='signupemail' method='POST' > 
          <fieldset>

            <div class='pure-control-group'>
              <label for='email'>Email</label>
              <input class='pure-input-1-3' id='email' name='email' type='email' placeholder='Email address' required>
              </input>
              <button id='signupButton' class='pure-button pure-button-tiel'>Signup</button>

          </fieldset>
        </div>


      </div>

    </div>

  </body>
</html>



